viseo-bot-framework/
node-v8.3.0-win-x86/
README/botframework-emulator-Setup-3.5.31.exe
sounds/voice_1/
sounds/voice_2/
install.bat
/viseo_bot_project/data/my_grammar/
README/
keybinding_sc/
diag_audio/
my_bk.xml
log_confiance.txt
